  @model IReadOnlyList<PostViewModel>
  @inject Blog.Infrastructure.Interfaces.Admin.IMediaService service


  <!-- Page Header -->
  <header class="masthead" style='background-image: url("@service.GetHomeImage().Result.Message")'>
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 text-justify">
          <div class="site-heading">
            <h1>Dev/Mahesh</h1>
            <span class="subheading">A Dev Blog By Mahesh</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 text-justify">
       @if(Model != null && Model.Count > 0)
       {
           foreach(var post in Model)
           {
                <div class="post-preview">
                    <a asp-controller="Home" asp-action="Post" asp-route-slug="@post.Slug" >
                        <h2 class="post-title">
                            @post.Title
                        </h2>
                        <h3 class="post-subtitle">
                            @post.Excerpt
                        </h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#">@post.Author</a>
                        on @post.CreatedDate.ToShortDateString()
                    </p>
                </div>
                <hr>
           }
       }
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
       <div class="col-lg-4 col-md-2">
            <partial name="Partials/_BlogSidebarPartial" />
        </div>
    </div>
  </div>
