  @model PostViewModel

  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay" style="background-image: url('@Model.TitleImageUrl'); background-position:center; filter:blur(5px); opacity:1; background-size:cover;"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 text-justify">
          <div class="post-heading">
            <h1>@Model.Title</h1>
            <h2 class="subheading">@Model.Excerpt</h2>
            <span class="meta">Posted by
              <a href="#">@Model.Author</a>
              on @Model.CreatedDate.ToLongDateString()</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Post Content -->
  <article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 text-justify">
                @Html.Raw(Model.Content)
                @* <partial name="Comment/_CommentFormPartialView" model="@Model.Comments"/> *@
            </div>
            <div class="col-lg-4 col-md-2">
                <partial name="Partials/_BlogSidebarPartial" />
            </div>
        </div>
    </div>
  </article>
