@model Blog.Areas.Admin.Models.Post

@Model.Category?.CategoryName
<div class="row">
    <div class="col-lg-12 centered">
        <div class="ibox">
            <div class="ibox-body">
                <div class="flexbox">
                    <div class="flexbox">
                        <div class="article-date mr-4 text-primary">
                            <h5 class="font-strong mb-0">@Model.CreatedAt.Day</h5>
                            <span class="font-13">@Model.CreatedAt.ToString("MMM")</span>
                        </div>
                        <div class="d-inline-flex">
                            <span class="text-muted pl-3 pr-3 text-center" style="border-right:1px solid rgba(0,0,0,.1);">
                                <i class="fa fa-heart-o d-block font-16 mb-2"></i>124
                            </span>
                            <span class="text-muted pl-3 pr-3 text-center">
                                <i class="fa fa-comment-o d-block font-16 mb-2"></i>@Model.Comments.Count()
                            </span>
                        </div>
                    </div>
                    <div>
                        <a data-toggle="modal" data-target="#publish-post-modal" href="javascript:;" class="btn btn-blue mr-2">Publish</a>
                        <a asp-action="Edit" asp-route-id="@Model.PostId" class="btn btn-success mr-2">Edit</a>
                        <a data-toggle="modal" data-target="#delete-post-modal" href="javascript:;" class="btn btn-danger mr-2">Delete</a>
                        @Html.Partial("_PublishPostModalPartial", new Blog.Areas.Admin.ViewModels.PostViewModel { Id = Model.PostId })
                        @Html.Partial("_DeletePostModalPartial", new Blog.Areas.Admin.ViewModels.PostViewModel { Id = Model.PostId, Title = Model.Title, Excerpt = Model.Excerpt })
                    </div>
                </div>
                <h1 class="text-center my-5">@Model.Title</h1>
                @Html.Raw(Model.Content)
                <hr class="my-4">
                <div class="flexbox">
                    <div>
                        @foreach (var tag in Model.PostTags)
                        {
                            <span class="badge badge-primary mr-2">
                                <i class=" fa fa-tag"></i>
                                @tag.Tags.TagName
                            </span>
                        }
                    </div>
                    <span>@Model.ViewCount views</span>
                </div>
                <hr class="my-4">

                <h5 class="font-strong mb-3">
                    <i class="fa fa-comment-o mr-2"></i> @Model.Comments.Count() Comments
                </h5>
                <ul class="media-list">
                    @foreach (var comment in Model.Comments.OrderByDescending(c => c.PublishedDate))
                    {

                        <li class="media">
                            <a class="media-img" href="javascript:;">
                                <img src="/assets/img/users/u10.jpg" alt="image" width="45" />
                            </a>
                            <div class="media-body">
                                <div class="media-heading">
                                    <a class="comment-author" href="javascript:;">@comment.Author</a>
                                    @* todo epoch time *@
                                    <small class="text-muted ml-2">@(DateTime.UtcNow.ToLocalTime() - comment.PublishedDate.ToLocalTime())</small>
                                    <div class="pull-right font-13">
                                        <a class="text-muted mr-2" data-toggle="tooltip" data-original-title="Like">
                                            <i class="fa fa-heart"></i>
                                        </a>
                                        <a class="text-muted" data-toggle="tooltip" data-original-title="Reply">
                                            <i class="fa fa-reply"></i>
                                        </a>
                                    </div>
                                </div>
                                <p class="m-0">
                                    @comment.Content
                                </p>
                            </div>
                        </li>
                    }
                </ul>
                <h5 class="font-strong mt-4 mb-3">Leave A Comment</h5>
                @Html.Partial("Comment/_CommentFormPartialView", new Blog.Areas.Admin.ViewModels.CommentViewModel { PostId = Model.PostId, Content = ViewBag.Comment })
            </div>
        </div>
    </div>
</div>