@model IList<PostViewModel>

<div class="ibox">
    <div class="ibox-body">
        <h5 class="font-strong mb-4"></h5>
        <div class="flexbox mb-4">
            <div class="flexbox">
                <span class="mr-4 static-badge badge-pink"><i class="la la-pencil"></i></span>
                <div>
                    <h5 class="font-strong">Blog</h5>
                    <div class="text-light">Found  posts</div>
                </div>
                <div class="ml-4">
                    <a asp-action="Create" class="btn btn-success">Add Posts</a>
                </div>
            </div>
            <div class="input-group-icon input-group-icon-left mr-3">

                <form asp-action="Index" method="get">
                    <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                    <input class="form-control form-control-rounded form-control-solid"
                           id="key-search"
                           value="@ViewData["query"]"
                           name="query"
                           type="text"
                           placeholder="Search ...">
                    <input type="submit" value="" hidden />
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="datatable">
                <thead class="thead-default thead-lg">
                    <tr>
                        <th>Title</th>
                        <th>Excerpt</th>
                        <th>Content</th>
                        <th>Created At</th>
                        <th class="no-sort"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model?.Count() > 0)
                    {
                        @foreach (var post in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Detail" asp-route-id="@post.Id" class="bold">
                                        @post.Title
                                    </a>
                                </td>
                                <td>
                                    @post.Excerpt
                                </td>
                                <td>
                                    @post.Content
                                </td>
                                <td>
                                    @post.CreatedDate
                                </td>   
                                <td>
                                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@post.Id">
                                        <i class="la la-pencil"></i>
                                        <span>
                                            Edit
                                        </span>
                                    </a>
                                    <a class="btn btn-danger" href="javascript:;" data-toggle="modal" data-target="#delete-post-modal-@post.Id">
                                        <i class="ti-trash"></i>
                                        <span>
                                            Delete
                                        </span>
                                    </a>
                                    <partial name="_DeletePostModalPartial" model='new PostViewModel { Id = @post.Id, Title = @post.Title }' >
                                </td>
                            </tr>
                        }
                    } else
                    {
                        <tr>
                            <td>
                                No Posts
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
