@model PaginatedList<MediaViewModel>

<div class="ibox">
    <div class="ibox-body">
        <div class="row">
            @foreach (var media in Model)
            {
                <div class="col-md-4" style="background-image: @media.PreviewUrl">
                </div>
            }

            <div class="row mb-5">
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }

                <a asp-action="Index"
                   asp-route-page="@(Model.PageIndex - 1)"
                   class="btn btn-default @prevDisabled">
                    Previous
                </a>
                <a asp-action="Index"
                   asp-route-page="@(Model.PageIndex + 1)"
                   class="btn btn-default @nextDisabled">
                    Next
                </a>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/assets/js/Module/media.js"></script>
}